{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'blog_app/css/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
        <li>
          <a href="{% url 'home' %}">Посты</a>
        </li>
        <li>
          <a href="{% url 'add_post' %}">Добавить пост</a>
        </li>
        {% if request.user.is_authenticated %}
          <li>
            {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
</html>
